services:
  - type: web
    name: hrms-backend
    env: python
    region: oregon
    buildCommand: "./build.sh"
    startCommand: "cd hrms_backend && gunicorn hrms_backend.wsgi:application --bind 0.0.0.0:$PORT"
    envVars:
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: False
      - key: ALLOWED_HOSTS
        sync: false
      - key: CORS_ALLOWED_ORIGINS
        sync: false
      - key: DATABASE_URL
        fromDatabase:
          name: hrms-db
          property: connectionString

databases:
  - name: hrms-db
    databaseName: hrms_database
    user: hrms_user
    region: oregon
